<a href="https://colab.research.google.com/github/deva-kumari/devakumari_cse22237/blob/main/A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

# Load the data
file_path = '/mnt/Lab Session Data.xlsx'
df = pd.read_excel(file_path, sheet_name='Purchase data')

# Print the initial DataFrame to inspect
print("Initial DataFrame:")
print(df.head())

# Select only relevant columns and drop NaN values
df_cleaned = df[['Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)', 'Payment (Rs)']].dropna()

# Print the cleaned DataFrame
print("Cleaned DataFrame:")
print(df_cleaned.head())

# Assuming the last column is the total cost (C) and the rest are product quantities (A)
A = df_cleaned.iloc[:, :-1].values  # All columns except the last one
C = df_cleaned.iloc[:, -1].values   # The last column

# Ensure A and C are numeric numpy arrays
A = A.astype(np.float64)
C = C.astype(np.float64)

# Dimensionality of the vector space
dimensionality = A.shape[1]

# Number of vectors in the vector space
num_vectors = A.shape[0]

# Rank of Matrix A
rank_A = np.linalg.matrix_rank(A)

# Pseudo-Inverse of A
A_pseudo_inverse = np.linalg.pinv(A)

# Cost of each product
product_costs = np.dot(A_pseudo_inverse, C)

# Display results
print(f"Dimensionality of the vector space: {dimensionality}")
print(f"Number of vectors in the vector space: {num_vectors}")
print(f"Rank of Matrix A: {rank_A}")
print(f"Product costs: {product_costs}")

Initial DataFrame:
  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN

[5 rows x 22 columns]
Cleaned DataFrame:
   Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0           20             6                 2           386
1           16             3                 6           289
2           27             6                 2           393
3           19             1                 2           110
4           24             4                 2           280
Dimensionality of the vector space: 3
Number of vectors in the vector space: 10
Rank of Matrix A: 3
Product costs: [ 1. 55. 18.]